.square {
  width: 200px;
  height: 200px;
  background-color: blue;
  margin: 10%; 
  text-align: center;
  transition: all 5s ease-in-out;
}

.round {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: violet;
  margin: 10%; 
  text-align: center;
}
